*
{
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body
{
  height: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer
{
  background-color: #1f2937;
  color: white;
}

.header
{
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.header-logo
{
  font-size: 24px;
  color: #F9FAF8;
}

.header-links
{
  display: flex;
  gap: 24px;
}

.link,
.C1-subtext
{
  font-size: 18px;
  color: #E5E7EB;
}

.content
{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.C1,
.C2,
.C3,
.C4
{
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 100px;
}

.C1
{
  flex-direction: row;
  background-color: #1f2937;
  gap: 20px;
}

.C1-left-content
{
  flex: 1;
}

.C1-hero-main-text
{
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.C1-hero-main-text,
.C1-subtext
{
  margin-bottom: 10px;
}

.C1-image-placeholder
{
  flex: 1;
  display: flex;
  background-color: grey;
  color: white;
  height: 200px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.C1-button
{
  background-color: #3882F6;
  padding: 5px 24px;
  color: white;
  border: none;
  border-radius: 6px;;
}

.C2
{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.C2-title
{
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  margin-bottom: 30px;
}

.C2-container
{
  display: flex;
  gap: 40px;
}

.C2-object
{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 150px;
}

.C2-image
{
  border: 3px solid #3882F6;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.C3
{
  background-color: #E5E7EB;
}

.C3-container
{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.C3-quote
{
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  margin-bottom: 15px;
}

.C3-quotee
{
  font-weight: 900;
  color: #1F2937;
  text-align: end;
}

.C4
{
  align-items: center;
}

.C4-container
{
  display: flex;
  justify-content: space-between;
  background-color: #3882F6;
  color: white;
  gap: 100px;
  padding: 35px 65px;
}

.C4-left
{
  display: flex;
  flex-direction: column;
}

.C4-title
{
  font-size: 16px;
  font-weight: 700;
}

.C4-text
{
  font-size: 12px;
}

.C4-button
{
  font-size: 12px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  padding: 0px 30px;
}

.footer
{
  font-size: 11px;
  padding: 25px;
  text-align: center;
}


